.intro{
    background-color: #e4f9f5;
    padding-top: 120px;
    position: relative;
}

body{
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
    
}

h1{
    margin: 3.12rem auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.62rem; 
    /* 16px = 100% = 1 em, if 90px = 90px/16*100%  */
    color: #66BFBF;
    line-height: 4;
}

p{
    color: #40514E;
}

h2{
    font-size: 2.5rem;
    color: #66BFBF;
    font-family: 'Montserrat',sans-serif;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat',sans-serif;
    color: #11999E;

}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;


}


a{
    color: #11999E;
}

.intro .upper_cloud_img{
    position: absolute;
    left: 60%;
    top: 10%;
}

.intro p .special{
    text-decoration: underline;
}

.intro .cloud_img{
    position: absolute;
    left:30%;
    top:40%;

}

.profile_txt{
    width:30%;
    margin: auto;
}

.middle-container{
    margin: 100px auto 100px auto;
}


.middle-container p{ 
    line-height: 1.6;
}

.bottom-container{
    background-color: #66bfbf;
    padding: 20px 20px
}

.bottom-container img{
    width:1%;
    height: 1%;
    margin-left: 2%;
    margin-right: 2%;
    opacity: 0.8;
}

.bottom-container img:hover{
    opacity: 1;
    transform:scale(1.2);
}


.profile_image{
    width: 10%;
    height: 10%;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    position: relative;
}

p{
    line-height: 2;
}



.web_image{
    float: left;
    width: 10%;
    height: 10%;
    margin-right: 30px;
   
}

.develop_image{
    float: right;
    width: 10%;
    height: 10%;
    /* margin-left: 30px; */
}



.contact_msg{
    width: 40%;
    margin: 40px auto 60px;
}

.copy-right{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}